<div class="navbar">
	<div fxLayoutAlign="end start" fxFlex fxLayout="column" fxLayoutGap="10px"  fxFlex.gt-xs="540px" fxFlex.gt-sm="720px" fxFlex.gt-md="1140px" fxFlex.gt-lg="1140px" style="margin: auto">
		<mat-toolbar color="primary">
			<mat-toolbar-row>
				<span>Third Line</span>
				<span class="example-spacer"></span>
				{{user.points}} <mat-icon class="example-icon" aria-hidden="false">monetization_on</mat-icon>
				<button mat-icon-button [matMenuTriggerFor]="menu">
					{{user.name}} <mat-icon>more_vert</mat-icon>
				</button>
				<mat-menu #menu="matMenu">
					<button mat-menu-item>
						<mat-icon>dialpad</mat-icon>
						<span>Redial</span>
					</button>
					<button mat-menu-item disabled>
						<mat-icon>voicemail</mat-icon>
						<span>Check voice mail</span>
					</button>
					<button mat-menu-item>
						<mat-icon>notifications_off</mat-icon>
						<span>Disable alerts</span>
					</button>
				</mat-menu>
			</mat-toolbar-row>
		</mat-toolbar>
	</div>	
</div>

<router-outlet></router-outlet>