<div class="navbar">
	<div fxLayoutAlign="end start" fxFlex fxLayout="column" fxLayoutGap="10px"  fxFlex.gt-xs="540px" fxFlex.gt-sm="720px" fxFlex.gt-md="1140px" fxFlex.gt-lg="1140px" style="margin: auto">
		<mat-toolbar color="primary">
			<mat-toolbar-row>
				<span routerLink="/"><img src="assets/images/aerolab-logo.svg"></span>
				<span class="example-spacer"></span>
				<div class="navbar-points"><img src="assets/images/coin.svg" />{{user?.points}} </div>
				<button mat-icon-button [matMenuTriggerFor]="menu">
					{{user?.name}}
				</button>
				<mat-menu #menu="matMenu">
					<button mat-menu-item routerLink="profile">
						<mat-icon>person</mat-icon>
						<span>Profile</span>
					</button>
				</mat-menu>
			</mat-toolbar-row>
		</mat-toolbar>
	</div>	
</div>

<router-outlet></router-outlet>